<h1><%= @user.name %></h1>


<table>
	<tr>
		<th>Created events</th>
		<th>Attend events</th>
	</tr>
	<td>
		<table>
			<tr>
				<th>Event name</th>
				<th>Date</th>
			</tr>
			<% @user.created_events.each do |event| %>
				<tr>
					<td><%= link_to event.name, event %></td>
					<td><%= event.date %></td>
				</tr>
			<% end %>
		</table>
	</td>
	<td>
		<table>
			<tr>
				<th>Event name</th>
				<th>Date</th>
			</tr>
			<% @user.attend_events.each do |event| %>
				<tr>
					<td><%= link_to event.name, event %></td>
					<td><%= event.date %></td>
				</tr>
			<% end %>
		</table>
		
	</td>
</table>