<div class="container">
	<% if logged_in? %>
		<h2><%= current_user.name %></h2>
	<% end %>
	<ul>
		<li><%= link_to "User index", users_path %></li>
		<li><%= link_to "Event index", events_path %></li>
		<% if logged_in? %>
			<li><%= link_to "Profile", current_user %></li>
			<li><%= link_to "Create Event", new_event_path %></li>
			<li><%= link_to "Log out", logout_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Log in", login_path %></li>
		<% end %>
	</ul>
</div>