<!DOCTYPE html>
<html>
  <head>
  <title>PrivateEvents</title>
  <%= render 'layouts/railshead' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div><%= message_type %>! <%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
